*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clear{
  clear: both;
}
$baseContainer: 800px;
$basePadding: 15px;
.container{
  margin: 0 auto;
  width: $baseContainer;
  .leftSide,.rightSide,.center{
    width:$baseContainer/3-$basePadding*2;
    padding: $basePadding;
    margin: $basePadding;
    float: left;
  }
  .center{
    background: #E6E6FE;
    .title{
      text-align: center;
      font-size: 36px;
      color: #333;
      margin-bottom: 15px;
    }
    dl{
      width: 100%;
      dt,dd{
        display: block;
        float: left;
        width: 50%;
        margin-bottom: 40px;
      }
      dd{
        text-align: center;
      }
    }
  }
  .leftSide,.rightSide{
    background: #749CD5;
    .header{
      overflow: hidden;
      margin-bottom: 15px;
      .sort{
        width: 50%;
        float: left;
        line-height: 18px;
      }
      .filterText{
        width: 50%;
        float: right;
        input{
          width: 100%;
        }
      }
    }
    .side-list{
      max-height: 90vh;
      overflow: auto;
      .side--item{
        padding: 5px 0;
        background: #CCFF9A;
        text-align: center;
        color: #333;
        cursor: pointer;
        margin-bottom: 10px;
        line-height: 18px;
        &:hover,&.active{
          background: darken(#CCFF9A,20%);
        }
        .labels{
          vertical-align: top;
          display: inline-block;
        }
      }
    }
  }
}
input#sort{
  position: absolute;
  left: -9999px;
  visibility: hidden;
  +label{
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 5px;
    width: 18px;
    height: 18px;
    background: #F6FFD0;
  }
  &:checked + label{
    &:after{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      margin-left: -5px;
      margin-top: -5px;
      border-radius: 5px;
      background: red;
      content: '';
    }
  }
}
input.labeled{
  visibility: hidden;
  position: absolute;
  left: -9999px;
  +label.icon{
    position: relative;
    margin-right: 3px;
  }
  &:checked + label{
    &:after{
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      content: '\d7';
      background: rgba(#333,.5);
      color: #fff;
    }
  }
}
.icon{
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  width: 18px;
  height: 18px;
  background-image: url("../img/icons.png");
  background-repeat:no-repeat;
  position: relative;
  &.flower,&[for=flower]{
    background-position: -1px 0;
  }
  &.heart,&[for=heart]{
    background-position: -49px 0;
  }
  &.sun,&[for=sun]{
    background-position: -25px 0;
  }
  &.flash,&[for=flash]{
    background-position: -73px 0;
  }
}

